html, body {
    margin: 20px;
    margin-top: 0px;
    font: 100% "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #000;
    background: #000000;
    
}
.clear { clear: both; }

#container {
	margin: 20px 0 900px;
	background: #333333;
}
h1 {
	line-height: 75px;
	margin: 0;
	text-align: center;
	background: #606c6f;
}


h3 {
    color:#cccccc;
    background:#000336;
}

#left {
	width: 300px;
        
	padding: 20px;
       
	float: left; 
        overflow:auto;
        color:white;
        background:#333333;
}

#left a{
    color:white;
}
#right {
	padding: 20px 20px 600px;
	overflow: auto;
	background: #ccc;
}
footer {
	color: #ccc;
	background: #330000;
}
h2, h3, footer p {
	line-height: 45px;
	margin: 0;
	text-align: center;
}